
body {
    width: 1900px;
    height:1080px;
    background-image: url('img/bg.png');
    background-color: black;
    background-size: 100% cover;
    background-position: 0 -30px;
    background-repeat: no-repeat;
    cursor: url("img/mouse.png"), auto;
}


body::-webkit-scrollbar {
    width: 8px;
    height:8px;
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #ffc0cb;

    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

/*
    창 사이즈에 따라 줄어드는 버튼
img {
    width:9vw;
    height:6vw;
    object-fit: contain;
}
    */

#yesbuttondiv {
    position:absolute;
    top:590px;
    left:590px;
    float: left;
}

#nobuttondiv {
    position: absolute;
    float: left;
    top: 590px;
    left: 750px;
}

#song{
    float:left;
}

#yesbutton:hover, #nobutton:hover {
    cursor: url("img/mouse.png"), auto;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade.in {
    opacity: 1;
}