@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

body {
    width: 1900px;
    height: 1080px;
    background-image: url('img/bg_inside.png');
    background-color: black;
    background-size: 100% cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-family: 'Moirai One', cursive;
    font-size: 50px;
    font-weight: bolder;
    color: lightpink;
    cursor: url("img/mouse.png"), auto;
    margin:0;
}px

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #ffc0cb;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

.small_icon{
}
.icon {
    position: absolute;
}

/*
img {
    width: 9vw;
    height: 6vw;
    object-fit: contain;
}*/


#gall_menu {
    margin:0;
    padding-left: 1255px;
    width:265px;
    display: none;
    animation: grow 0.2s ease-out 1 backwards;
}

#embed1 {
    width: 1288px;
    height: 705px;
    display: none;
    position: absolute;
    left:409px;
    top:85px;
}


#board {
    position:absolute;
    padding-top:20px;
    padding-left: 16px;
    width: 1303px;
    display: none;
    z-index:-1;
}


#logo{
    top:70px;
    left:30px;

}

#empty1{
    float:left;
    height:100%;

}
#menu{
    float:left;
    width:20%;
    height:100%;
}

#about {
    top:205px;
    left:45px;
    float: left;
}
#book{
    top:205px;
    left:197px;
}
#diary {
    top: 395px;
    left: 45px;
    float: left;
}
#gallery {
    top: 395px;
    left: 197px;
}
#text {
    top: 565px;
    left: 45px;
    float: left;
}
#report {
    top: 565px;
    left: 197px;
    float: left;
}
#submenu4 {
    top: 765px;
    left: 45px;
}
#heart1 {
    top: 885px;
    left: 45px;
    float: left;
}
#heart2 {
    top: 885px;
    left: 197px;
    float: left;
}


#empty2{
    height:400px;
}

#count_text{
    width:440px;
    height:230px;
    top:500px;
    left:40px;
    position:absolute;
}

#count{
    z-index:-2;
    left:1200px;
    position:absolute;
    float:left;
    height:100%;
}


@keyframes grow {
    0% {
       height: 0;
    }

    100% {
        height: 1078px;
    }
}


#list_box {
}
#img_list {
    margin: 20px;
}

#img_list::after {
    content: "";
    display: block;
    clear: both;
}

#img_list > li {
    float: left;
    margin: 10px 15px;
    list-style:none;
}

#img_list > li > a {
    display: block;
    text-decoration: none;
}

#img_list > li > a > img {
    display: block;
    width: 54px;
    border: 1px dotted black;
}
#list_box{
    position:absolute;
    top:30px;
    left:1623px;
    display:none;
}

#frame{
    position:absolute;
    top:52px;
    left:415px;
    display:none;
}