BODY { scrollbar-3dlight-color:#ffffff;
scrollbar-arrow-color:2B81A5;
scrollbar-track-color:#ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-face-color:#ffffff;
scrollbar-highlight-color:#Ffffff;
scrollbar-shadow-color:#e0e0e0;
background-color:transparent;}

BODY,TD,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:8pt; font-family:verdana; color:#222222; line-height:180%;}
body {overflow-x:hidden; overflow-y:auto;}
SELECT {font-size:8pt}

A:link    {color:#222222;text-decoration:none; }
A:visited {color:#222222;text-decoration:none; }
A:active  {color:#222222;text-decoration:none; }
A:hover  {color:2B81A5;text-decoration:none; }

.v7 {font-family:verdana;font-size:7pt;color:#222222;}
.b7 {font-family:verdana;font-size:7pt;color:#222222;}
.textarea {border:solid 1px #efefef;background-color:transparent; overflow-x:hidden; overflow-y:auto;width:90%;}
.input {border:solid 1px #efefef;background-color:transparent; line-height:120%;}
.input2{font-family:verdana;font-size:8pt; border:solid 0; color:ffffff;background-color:transparent;line-height:120%;}
.table {border: solid 1px #efefef;}
.commen {border:solid 1px #efefef;background-color:transparent; overflow-x:hidden; overflow-y:auto;}
.esoline {background-color:#efefef;}
.esoline1 {background-color:2B81A5;}
.num {font-family:verdana; font-size:7pt;color:#222222; line-height:120%;}
.date {font-family:verdana; font-size:7pt; color=#222222;}
.esoimg {padding:4px;border-width:1px;border-color:#E9E8E8;border-style:solid}

.submit {border:solid 0;font-family:verdana;font-size:7pt;color:#ffffff;background-color:2B81A5;line-height:15px;}
.com {font-family:verdana; font-size:7pt; color=2B81A5;}
.sub {color:2B81A5;}
.RC {border-right:#E2E4E6 1px solid;border-left:#E2E4E6 1px solid;} 


<!-- 포인트색코드 2B81A5(2,17,27,32,33,34라인의 색코드를 바꿔주세요)-->
