body, td, select, input, div, form, textarea, center, option, pre, p, blockquote, br {font-family:µ¸¿ò; font-size:8pt; color:#333333; line-height:160%;}

body { 
	scrollbar-face-color:#EDEDED;
	scrollbar-shadow-color:#EDEDED;
	scrollbar-highlight-color:#EDEDED;
	scrollbar-3dlight-color:#EDEDED;
	scrollbar-darkshadow-color:#EDEDED;
	scrollbar-base-color:#EDEDED;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;	
}

a:link			{ color:#333333; text-decoration:none; }
a:visited		{ color:#333333; text-decoration:none; }
a:active		{ color:#333333; text-decoration:none; }
a:hover		{ color:#aaaaaa; text-decoration:none; }

.input				{ border:1 solid #EDEDED; background-color:transparent; }
.input_notice	{ border:1 solid #DDDDDD; background-color:transparent; }
.input_main		{ border-width:1px; border-color:#DDDDDD; border-style:solid; padding-left:8px; padding-right:8px; padding-top:3px; }
.input_2			{ border-bottom:1px solid #EDEDED; border-left-width:0; border-right-width:0; border-top-width:0; background-color:transparent; }
.button			{ font-family:tahoma; font-size:6pt; font-weight:bold; border:0px; height:21px; background-color:transparent; }

.thm7				{ font-family:tahoma; font-size:7pt; }
.thm6				{ font-family:tahoma; font-size:6pt; }
.dotum_8pt		{ font-family:dotum; font-size:8pt; }

.color				{ color:#aaaaaa; }
.color2			{ font-family:tahoma; font-size:7pt; color:aaaaaa; }
.color3			{ border:1 solid #d7d7d7; background-color:eaeaea; }

.line				{ background-color:#EDEDED; }
.line_dash		{ border-bottom-width:1px; border-bottom-color:#DDDDDD; border-bottom-style:dashed; }