/*********************************************
* 스킨파일 공통으로  들어간 스타일 시트
*********************************************/

body, td, input, div, form, textarea, center, pre, select, blockquote, option { font-size:9pt; color:black; }

A:link    { color:black; text-decoration:none; }
A:visited { color:black; text-decoration:none; }
A:active  { color:gray; text-decoration:none; }
A:hover   { color:gray; text-decoration:none; }

/* 영문으로 되어 있는 부분, 글씨 크기를 8포인트로 표시 */
.8 {font-size:8pt;}

/* 이미지와 댓글이 나오는 테이블 부분의 표시 */
.table_all { border:1px solid black; background-color:transparent; }
.table_number { border:0; }
.table_content { border:0; }
.table_pic { border:0;}
.table_comment { border:0;}

/* 코멘트 쓰기 창의 바탕과 이모티콘 목록 부분 표시 */
.table_write_comment { border:0; width:350; }
.table_emotion { border:0; }

/* 비밀글 표시와 접기 표시 */
.secret { width:200; color:red; font-weight:bold; }
.more { width:200; color:blue; font-weight:bold; cursor:pointer;cursor:hand; }

/* 입력창(input)과 버튼(submit) 표시 */
.input { border:1px solid black; font-size:9pt; color:black; background-color:whitesmoke;}
.submit { border:1px solid black; font-size:8pt; color:black; background-color:whitesmoke; }
