@import url(http://fonts.googleapis.com/css?family=Oswald:300,400);
body, td, select, input, div, form, textarea, center, option, pre, p, blockquote, br {font-family:µ¸¿ò; font-size:9pt; color:000; line-height:200%;}

a:link    {color:000000;text-decoration:none;}
a:visited {color:000000;text-decoration:none;}
a:active  {color:000000;text-decoration:none;}
a:hover   {color:000000;text-decoration:none;}

.act {font-family : ¸¼Àº °íµñ; font-size:8pt; color:#000;}
.name {font-family : ¸¼Àº °íµñ; font-size:8pt; color:#000;}

.input {border-width:1px; border-style:solid; border-color:#000000; background-color:transparent; padding:3px;font-family : ¸¼Àº °íµñ; font-size:8pt; color:#000;}
.input2 {background-color:transparent; border-width:1px; border-style:solid; border-color:#000000; padding:3px; font-family:¸¼Àº °íµñ; font-size:8pt;}
.button {border:0; background-color:transparent; height:25; padding:3px; font-family:¸¼Àº °íµñ; font-size:8pt;}

.line {background-color:#000000;}
.line2 {background-color:transparent; border:1 solid #000000; border-bottom-width:0; border-left-width:0; border-right-width:1; border-top-width:0;}

.basic {font-family:Trebuchet MS; font-size:7pt;}
.num {font-family:Oswald;font-size:8px;}

.sub {font-family:¸¼Àº °íµñ; font-size:8pt;}

.notice {border-width:1px; border-style: solid; border-color: #000000;}
.info {border-width:1px; border-bottom:0px; border-style: solid; border-color: #000000;}
.info2 {border-width:1px; border-top:0px; border-style: solid; border-color: #000000;}