@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body, td, select, input, div, form, textarea, center, option, pre, p, blockquote, td, br {font-family:verdana;font-size:8pt;color:000000;line-height:150%;}

a:link    {color:000000;text-decoration:none;}
a:visited {color:000000;text-decoration:none;}
a:active  {color:000000;text-decoration:none;}
a:hover   {color:66cdcc;text-decoration:none;}

.line {background-color:#e5e5e5;}

.input {border:1px solid #C0C0C0;background-color:transparent;}
.input2 {background-color:transparent;border-bottom:1px solid #e5e5e5;border-left-width:0; border-right-width:0; border-top-width:0;}
.input3 {border:2 solid #e5e5e5; background-color:e5e5e5;}
.button {border:0px solid #C0C0C0;background-color:transparent;height:21;}

.thm6 {font-family:tahoma; font-size:5pt; color:66cccc;}
.ver7 {font-family:verdana; font-size:8pt;}
.thm7 {font-family:tahoma; font-size:8pt;}
.color {color:00cc00;}
.color2 {font-family:tahoma; font-size:7pt; color:66cccc;}
.ver8 {font-family:verdana; font-size:8pt;}
.ver10 {font-family:Nanum Gothic; font-size:11pt;}

